.cover-heading {
  letter-spacing: 3px;
}

.lead {
  margin: 20px 0 ;
  font-size: 22px;
}

.btn {
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  background-color: #b6b7b0;
  color: #fff;
  border-radius: 3px;

  text-align: center;
  vertical-align: middle;
  user-select: none;
  text-decoration: none;
  background-color: transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height);
  @include transition($btn-transition);

  @include hover {
    color: $body-color;
    text-decoration: none;
  }
  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  .masthead-nav > li > a:hover {
   transform: scale(2.2);
  }
